footer
    .footer-main__logo-area
        a(href="/")
    .footer-main__right-area-wrapper
        .footer-main__right-area
            ul.footer-main__right-area-menu
                li
                    a(href="/") Copyright
                li
                    a(href="/") Contact
                li  
                    a(href="/") Cookie Policy
                li
                    a(href="/") Disclosure Policy
                li
                    a(href="/") Privacy Statement
                li
                    a(href="/") Terms & Conditions
            span.footer-main__right-area-notice All rights reserved © 2000—2021 The FWA

    .footer-main__sponsor-logo-area
        a(href="/").footer-main__sponsor-logo
            img(src="https://thefwa.com/assets/rackfish.png")