header
    .header-main__logo-area
        a.header-main__logo-icon(href="/")
        button.header-main__menu-button
            span 
            span 
            span 
    .header-main__search-area
        a.header-main__search-icon(href="/")
    .header-main__promo-area
        .header-main__filter-area
            .header-main__filter-multiselect Filters
            .header-main__filter-date-select Date