extends templates/layout


block content
    main
        ul.main-timeline
            li.main-timeline__hero
                .main-timeline__hero-award
                    .main-timeline__hero-award-date
                        .main-timeline__hero-date-day
                            span.pixel-text_text 26
                        h3 August
                        span.main-timeline__hero-date-fwa fwa of the day
                    .main-timeline__hero-award-shard-button 
                        a(href="/") Share +
                .main-timeline__hero-photo
                    .main-timeline__hero-photo-ribbon
                .main-timeline__hero-description
                    .main-timeline__hero-description-ellipses
                        span.ellipse--active
                        span 
                        span 
                        span.ellipse--video
                    .main-timeline__hero-description-detail
                        h3.main-timeline__hero-description-detail-category others
                        h2.main-timeline__hero-description-detail-tilte Sea Level Lighthouse
                        p.main-timeline__hero-description-detail-content “Sea Level Lighthouse” is a public art sculpture conceived by BREAKFAST and uses their kinetic Brixels medium to bring attention to our rising sea levels.
                .main-timeline__hero-meta-credit
                    h3 credits:
                    a(href="/").main-timeline__hero-meta-credit-breakfast breakfast
                .main-timeline__hero-meta-scorecard
                    .main-timeline__hero-meta-scorecard__stats
                        h3 fwa award stats:
                    .main-timeline__hero-meta-scorecard__points
                        h3 points:
                        span.main-timeline__hero-meta-scorecard__number 83
                    .main-timeline__hero-meta-scorecard__day
                        h3 days:
                        span.main-timeline__hero-meta-scorecard__number 1
                .main-timeline__hero-meta-more
                    a(href="/").main-timeline__hero-meta-more__button See Case
                    a(href="/").main-timeline__hero-meta-more__button.button--dark Launch Project
                .main-timeline__hero-down
                    span.main-timeline__hero-down__left
                    span.main-timeline__hero-down__right
                        span.main-timeline__hero-down__arrow
            li.main-titleline__column
                .main-titleline__column__left
                .main-titleline__column__right
            ul.main-timeline__element-container
                li.main-timeline__element
                li.main-timeline__element
                li.main-timeline__element
                li.main-timeline__element
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element 
                li.main-timeline__element
        .infinitescroll-trigger
            .infinitescroll-trigger__button
                span Load more
                .infinitescroll-trigger__button-arrow
                

            
