@use "sass:math";

@mixin scale($property, $px) {
    $w: math.div(1px, $pc-screen-width) * 100;

    $pxs: null;
    $vws: null;
    // 여러 값에 대한 처리로 일반화
    @each $v in $px {
        // border: 1px solid black 같은 코드에서 숫자(1px)만 처리
        @if type-of($v) == "number" {
            $px: math.div($v, 1px);
            $pxs: append($pxs, if($px == 0, 0, $px * 1px));
            $vw: $px * $w;
            $vws: append($vws, if($vw == 0, 0, $vw + vw));
        } @else {
            $pxs: append($pxs, $v);
            $vws: append($vws, $v);
        }
    }

    #{$property}: $pxs;
    @media (max-width: $pc-screen-width) {
        #{$property}: $vws;
    }
}
