@import "_reset";
@import "_variables";
@import "_mixin";

@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Titillium+Web:wght@400;500;600;900&display=swap");

@import "./components/_partials.scss";
@import "./components/_pixel-pattern.scss";
@import "./components/_title.scss";
@import "./components/_button.scss";

@import "./animations/fade.scss";
@import "./animations/drop.scss";

* {
    font-family: "Titillium Web", sans-serif;
    box-sizing: border-box;
}

a {
    color: #404040;
}

html {
    background-color: #ececec;
}

body {
    .app-container {
        width: 1366px;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
}

header {
    display: flex;
    justify-content: space-between;
    height: $partials-height;
    position: fixed;
    background-color: #ececec;
    border-bottom: 1px solid #ececec;
    top: 0;
    display: flex;
    align-items: center;
    gap: 1px;
    z-index: 999;
    & > * {
        height: inherit;
        background-color: $color-white;
    }

    .header-main__logo-area {
        width: 195px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            @extend %logoIcon;
        }
        .header-main__menu-button {
            width: 35px;
            border: none;
            margin: 0px;
            padding: 0px;
            margin-right: 20px;
            background-color: inherit;
            cursor: pointer;
            span {
                width: inherit;
                height: 2px;
                display: block;
                margin-bottom: 3.6px;
                animation: menuDrop 0.5s ease forwards;
                transform: translateY(-36px);
                background-color: #242424;

                &:nth-child(1) {
                    animation-delay: 0.25s;
                }

                &:nth-child(2) {
                    animation-delay: 0.125s;
                }
            }
        }
    }

    .header-main__search-area {
        display: flex;
        width: 779px;
        justify-content: flex-start;
        align-items: center;
        flex: 1;

        .header-main__search-icon {
            width: 60px;
            height: inherit;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                content: "";
                display: block;
                height: inherit;
                margin: 0px 20px;
                background-repeat: no-repeat;
                background-position: 0 50%;
                width: 21px;
                background-image: url("https://thefwa.com/assets/search.png");
                background-size: 21px 20px;
            }
        }
    }

    .header-main__promo-area {
        width: 390px;
        height: $partials-height * 2;
        background-color: #2e2e2e;
        position: relative;
        align-self: flex-end;

        .header-main__filter-area {
            height: $partials-height;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            padding: 0px 16px;
            position: sticky;
            top: -$partials-height;
            background-color: $color-white;

            .header-main__filter-multiselect,
            .header-main__filter-date-select {
                width: 100%;
                height: 32px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid $color-gray;
                padding-left: 12px;
                border-radius: 4px;
                @include fontSize(13px);
                font-weight: 600;
                color: #8f8f8f;
                position: relative;

                &:before {
                    content: "";
                    flex: 1;
                    width: 6px;
                    height: 6px;
                    top: 11px;
                    right: 9px;
                    transform: rotate(-45deg);
                    border-left: 1px solid #8f8f8f;
                    border-bottom: 1px solid #8f8f8f;
                    position: absolute;
                }

                &:after {
                    content: "";
                    width: 25px;
                    height: 30px;
                    justify-self: flex-end;
                    border-left: 1px solid #d6d6d6;
                    margin-left: 10px;
                }
            }
        }
    }
}

main {
    padding-top: 135px;
    .main-timeline {
        width: 1366px;
        list-style: none;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ececec;
        align-items: center;
        position: relative;
        .main-timeline__hero {
            display: grid;
            grid-template-columns: 487px 388px 487px;
            grid-template-rows: 200px 359px 133px 135px;
            border-bottom: 1px solid #ececec;
            gap: 1px;
            background-color: #ececec;
            & > * {
                background-color: $color-white;
            }

            .main-timeline__hero-award {
                height: 100%;
                position: relative;
                .main-timeline__hero-award-date {
                    width: 194px;
                    height: 100%;
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    @extend %pixelPatternBg;
                    .main-timeline__hero-date-day {
                        height: 148px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @extend %pixelPatternlText;
                        .pixel-text_text {
                            @include fontSize(140px);
                            font-weight: 900;
                        }
                    }
                    h3 {
                        @extend %categoryText;
                        z-index: 1;
                        margin-top: 4px;
                        margin-left: 30px;
                        margin-bottom: 4px;
                    }
                    .main-timeline__hero-date-fwa {
                        z-index: 1;
                        text-transform: uppercase;
                        margin-left: 30px;
                        @include fontSize(16px);
                        letter-spacing: -1px;
                    }
                }
                .main-timeline__hero-award-shard-button {
                    @extend %fwaBtn;
                    top: 20px;
                    right: 17px;
                    position: absolute;
                    a {
                        text-decoration: none;
                        color: #8e8e8e;
                        @include fontSize(14px);
                        font-weight: 600;
                    }
                }
            }

            .main-timeline__hero-photo {
                grid-column-start: span 2;
                grid-row-start: span 2;
                position: relative;
                .main-timeline__hero-photo-ribbon {
                    width: 118px;
                    height: 118px;
                    right: 0;
                    top: 0;
                    position: absolute;
                    background-image: url("https://thefwa.com/assets/fotd-tr.png");
                    background-size: 100%;
                    pointer-events: none;
                    z-index: 2;
                }
            }

            .main-timeline__hero-description {
                display: flex;
                align-items: flex-end;
                position: relative;
                .main-timeline__hero-description-ellipses {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    top: 14px;
                    right: 17px;

                    .ellipse--active {
                        background-color: #666;
                    }
                    .ellipse--video {
                        &::after {
                            content: "";
                            width: 50%;
                            height: 50%;
                            background-image: url("https://thefwa.com/assets/coda-play.png");
                            background-position: center;
                            background-size: cover;
                            position: absolute;
                            z-index: 1;
                        }
                    }
                    span {
                        width: 9px;
                        height: 9px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #9a9a9a;
                        border-radius: 50%;
                        margin-bottom: 6px;
                        cursor: pointer;
                        transition: opacity 3s ease;
                        position: relative;

                        &::before {
                            content: "";
                            width: 60%;
                            height: 60%;
                            background-color: #666;
                            border-radius: 50%;
                            transition: opacity 0.5s ease;
                            opacity: 0;
                            position: absolute;
                        }

                        &:hover {
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
                .main-timeline__hero-description-detail {
                    display: flex;
                    flex-direction: column;
                    h3 {
                        @extend %categoryText;
                        padding-left: 30px;
                        margin-bottom: 20px;
                    }
                    .main-timeline__hero-description-detail-tilte {
                        @include fontSize(35px);
                        color: #404040;
                        margin-bottom: 20px;
                        padding-left: 30px;
                        font-weight: 600;
                    }
                    .main-timeline__hero-description-detail-content {
                        width: 400px;
                        font-size: 15px;
                        font-weight: 600;
                        max-height: 152px;
                        overflow: hidden;
                        line-height: 19px;
                        padding: 0 0 19px 30px;
                    }
                }
            }

            .main-timeline__hero-meta-credit {
                display: flex;
                flex-direction: column;
                h3 {
                    @extend %categoryText;
                    margin-left: 30px;
                    margin-top: 16px;
                }
                .main-timeline__hero-meta-credit-breakfast {
                    text-decoration: none;
                    margin-top: 80px;
                    margin-left: 30px;
                    text-transform: uppercase;
                    color: #404040;
                    font-weight: 600;

                    &::after {
                        content: " (9 FWAs)";
                        font-size: 12px;
                        text-transform: initial;
                        color: #9a9a9a;
                    }
                }
            }
            .main-timeline__hero-meta-scorecard {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1.5fr 1.3fr;
                @extend %pixelPatternBg;

                .main-timeline__hero-meta-scorecard__number {
                    @include fontSize(48px);
                    position: absolute;
                    right: 19px;
                    bottom: 12px;
                }
                .main-timeline__hero-meta-scorecard__stats {
                    grid-column-start: span 2;
                    border-bottom: 1px solid #ececec;
                    position: relative;
                    h3 {
                        @extend %categoryText;
                        top: 15px;
                        left: 19px;
                        position: absolute;
                    }
                }
                .main-timeline__hero-meta-scorecard__points {
                    border-top: 1px solid #ececec;
                    border-right: 1px solid #ececec;
                    position: relative;
                    h3 {
                        @extend %categoryText;
                        top: 15px;
                        left: 19px;
                        position: absolute;
                    }
                }
                .main-timeline__hero-meta-scorecard__day {
                    border-top: 1px solid #ececec;
                    border-left: 1px solid #ececec;
                    position: relative;
                    h3 {
                        @extend %categoryText;
                        top: 15px;
                        left: 19px;
                        position: absolute;
                    }
                }
            }
            .main-timeline__hero-meta-more {
                position: relative;
                .main-timeline__hero-meta-more__button {
                    @extend %fwaBtn;
                    position: absolute;
                    top: calc(100% - 52px);
                    text-decoration: none;
                }
                .main-timeline__hero-meta-more__button:first-child {
                    right: 155px;
                    color: #8e8e8e;
                    font-weight: 600;
                }
                .main-timeline__hero-meta-more__button:last-child {
                    right: 12px;
                    color: $color-white;
                    &::after {
                        content: "";
                        margin-left: 10px;
                        width: 11px;
                        height: 100%;
                        background-image: url("https://thefwa.com/assets/arrow-dark.png");
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: 11px 9px;
                    }
                }
            }
            .main-timeline__hero-down {
                grid-column: 1 / -1;
                display: grid;
                grid-template-columns: 1fr 194px 1fr;
                grid-template-rows: 1fr;
                background-color: #ececec;
                & > * {
                    background-color: $color-white;
                }
                .main-timeline__hero-down__right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    .main-timeline__hero-down__arrow {
                        width: 30px;
                        height: 30px;
                        border-left: 2px solid #ececec;
                        border-top: 2px solid #ececec;
                        transform: rotate(-135deg);
                    }
                }
            }
        }
        .main-titleline__column {
            width: 194px;
            height: 100%;
            position: absolute;
            top: 0;
            display: flex;
            gap: 1px;
            z-index: -999;
            background-color: #ececec;
            .main-titleline__column__left,
            .main-titleline__column__right {
                height: 100%;
                flex: 1;
                background-color: $color-white;
            }
        }
        .main-timeline__element-container {
            .main-timeline__element {
                margin-top: 150px;
                position: relative;
                width: 584px;
                height: 460px;
            }
            .main-timeline__element:nth-of-type(odd) {
                float: right;
            }
            .main-timeline__element:nth-of-type(even) {
                float: left;
                top: 150px;
            }
        }
    }
    .infinitescroll-trigger {
        display: flex;
        justify-content: center;
        margin-bottom: 115px;
        .infinitescroll-trigger__button {
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 194px;
            @extend %pixelPatternBg;
            cursor: pointer;
            margin-bottom: 115px;
            span {
                width: 100%;
                height: 114px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #ececec;
                color: #9a9a9a;
                @include fontSize(15px);
                font-weight: 600;
            }

            &:hover .infinitescroll-trigger__button-arrow::before {
                animation: arrowDrop 0.5s ease;
            }
            .infinitescroll-trigger__button-arrow {
                width: 100%;
                height: 114px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                &::before {
                    content: "";
                    width: 27px;
                    height: 27px;
                    transform: rotate(45deg);
                    border: 1px solid rgba(64, 64, 64, 0.4);
                    border-top: 0;
                    border-left: 0;
                }
            }
        }
    }
}

footer {
    position: relative;
    bottom: 0;
    display: flex;
    gap: 1px;
    margin-top: -$partials-height;
    height: $partials-height;
    & > * {
        height: inherit;
        background-color: $color-white;
    }
    .footer-main__logo-area {
        width: 195px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            @extend %logoIcon;
        }
    }
    .footer-main__right-area {
        display: flex;
        justify-content: space-between;
        width: 972px;
        padding: 0px 18px;
        padding-top: 36px;
        position: relative;

        .footer-main__right-area-menu {
            display: flex;
            gap: 12px;

            a {
                text-decoration: none;
                color: #9a9a9a;
                font-weight: 600;

                @include fontSize(12px);
            }
        }
        .footer-main__right-area-notice {
            color: #9a9a9a;
            font-weight: 600;
            @include fontSize(12px);
        }
    }
    .footer-main__sponsor-logo-area {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 195px;
        padding-right: 18px;
        .footer-main__sponsor-logo {
            padding-bottom: 15px;
        }
    }
}
