@import "_reset";
@import "_variables";
@import "_mixin";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@500;600&display=swap");

* {
    box-sizing: border-box;
}
a {
    color: #404040;
}

html {
    background-color: #ececec;
}

body {
    @include scale(width, $pc-screen-width);
    margin: 0px auto;
    height: 200vh;
    font-family: "IBM Plex Sans Condensed" sans-serif;
}

header {
    width: inherit;
    @include scale(height, 60px);
    position: fixed;
    display: flex;
    align-items: center;
    @include scale(gap, 1px);
    & * {
        background-color: #ffffff;
    }
    .header-main__logo-area {
        @include scale(width, 195px);
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include scale(padding, 0px 20px);
        .header-main__logo-icon {
            @include scale(width, 65px);
            @include scale(height, 20px);
            background-image: url("https://thefwa.com/assets/fwa-logo.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .header-main__menu-button {
            @include scale(width, 35px);
            border: none;
            margin: 0px;
            padding: 0px;
            span {
                width: inherit;
                @include scale(height, 2px);
                display: block;
                @include scale(margin-bottom, 3.6px);
                background-color: #242424;
            }
        }
    }

    .header-main__search-area {
        height: inherit;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;

        .header-main__search-icon {
            @include scale(width, 60px);
            height: inherit;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                content: "";
                display: block;
                height: inherit;
                @include scale(margin, 0px 20px);
                background-repeat: no-repeat;
                background-position: 0 50%;
                @include scale(width, 21px);
                background-image: url("https://thefwa.com/assets/search.png");
                @include scale(background-size, 21px 20px);
            }
        }
    }

    .header-main__promo-area {
        @include scale(width, 390px);
        @include scale(height, 120px);
        background-color: #2e2e2e;
        position: relative;
        align-self: flex-end;

        .header-main__filter-area {
            @include scale(height, 60px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include scale(gap, 5px);
            @include scale(padding, 0px 16px);
            position: sticky;
            @include scale(top, -60px);
            background-color: #ffffff;

            .header-main__filter-multiselect,
            .header-main__filter-date-select {
                width: 100%;
                @include scale(height, 32px);
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid $color-gray;
                @include scale(padding-left, 12px);
                @include scale(border-radius, 4px);
                @include scale(font-size, 13px);
                font-weight: 600;
                color: #8f8f8f;
                position: relative;

                &:before {
                    content: "";
                    flex: 1;
                    @include scale(width, 6px);
                    @include scale(height, 6px);
                    @include scale(top, 11px);
                    @include scale(right, 9px);
                    transform: rotate(-45deg);
                    border-left: 1px solid #8f8f8f;
                    border-bottom: 1px solid #8f8f8f;
                    position: absolute;
                }

                &:after {
                    content: "";
                    @include scale(width, 25px);
                    @include scale(height, 30px);
                    justify-self: flex-end;
                    border-left: 1px solid #d6d6d6;
                    @include scale(margin-left, 10px);
                }
            }
        }
    }
}
