@import "_reset";
@import "_variables";
@import "_mixin";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@500;600&display=swap");

@import "./components/partials.scss";

* {
    box-sizing: border-box;
}
a {
    color: #404040;
}

html {
    background-color: #ececec;
}

body {
    height: 200vh;
    font-family: "IBM Plex Sans Condensed" sans-serif;
    position: relative;
}

header {
    width: 100%;
    @include scale(height, $partials-height);
    position: fixed;
    display: flex;
    align-items: center;
    @include scale(gap, 1px);
    @include scale(padding, $web-page-padding);
    & > * {
        height: inherit;
        background-color: $color-white;
    }

    .header-main__logo-area {
        @include scale(width, 195px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-main__menu-button {
            @include scale(width, 35px);
            border: none;
            margin: 0px;
            padding: 0px;
            @include scale(margin-right, 20px);
            span {
                width: inherit;
                @include scale(height, 2px);
                display: block;
                @include scale(margin-bottom, 3.6px);
                background-color: #242424;
            }
        }
    }

    .header-main__search-area {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;

        .header-main__search-icon {
            @include scale(width, 60px);
            height: inherit;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                content: "";
                display: block;
                height: inherit;
                @include scale(margin, 0px 20px);
                background-repeat: no-repeat;
                background-position: 0 50%;
                @include scale(width, 21px);
                background-image: url("https://thefwa.com/assets/search.png");
                @include scale(background-size, 21px 20px);
            }
        }
    }

    .header-main__promo-area {
        @include scale(width, 390px);
        @include scale(height, $partials-height * 2);
        background-color: #2e2e2e;
        position: relative;
        align-self: flex-end;

        .header-main__filter-area {
            @include scale(height, $partials-height);
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include scale(gap, 5px);
            @include scale(padding, 0px 16px);
            position: sticky;
            @include scale(top, -$partials-height);
            background-color: $color-white;

            .header-main__filter-multiselect,
            .header-main__filter-date-select {
                width: 100%;
                @include scale(height, 32px);
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid $color-gray;
                @include scale(padding-left, 12px);
                @include scale(border-radius, 4px);
                @include scale(font-size, 13px);
                font-weight: 600;
                color: #8f8f8f;
                position: relative;

                &:before {
                    content: "";
                    flex: 1;
                    @include scale(width, 6px);
                    @include scale(height, 6px);
                    @include scale(top, 11px);
                    @include scale(right, 9px);
                    transform: rotate(-45deg);
                    border-left: 1px solid #8f8f8f;
                    border-bottom: 1px solid #8f8f8f;
                    position: absolute;
                }

                &:after {
                    content: "";
                    @include scale(width, 25px);
                    @include scale(height, 30px);
                    justify-self: flex-end;
                    border-left: 1px solid #d6d6d6;
                    @include scale(margin-left, 10px);
                }
            }
        }
    }
}

main {
    @include scale(padding, $web-page-padding);
    @include scale(padding-top, 135px);
    @include scale(margin-bottom, 190px);
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    @include scale(gap, 1px);
    @include scale(height, $partials-height);
    @include scale(padding, $web-page-padding);
    & > * {
        height: inherit;
        background-color: $color-white;
    }
    .footer-main__logo-area {
        @include scale(width, 195px);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-main__right-area {
        display: flex;
        justify-content: space-between;
        @include scale(width, 972px);
        @include scale(padding, 0px 18px);
        @include scale(padding-top, 36px);
        position: relative;

        .footer-main__right-area-menu {
            display: flex;
            @include scale(gap, 12px);

            a {
                text-decoration: none;
                color: #9a9a9a;
                font-weight: 600;

                @include scale(font-size, 12px);
            }
        }
        .footer-main__right-area-notice {
            color: #9a9a9a;
            font-weight: 600;
            @include scale(font-size, 12px);
        }
    }
    .footer-main__sponsor-logo-area {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        @include scale(width, 195px);
        @include scale(padding-right, 18px);
        .footer-main__sponsor-logo {
            @include scale(padding-bottom, 15px);
        }
    }
}
